:root {
    --dark: #3d3d3d; 
    --light-blue: #a9dadf;
    --grey-blue: rgb(83, 99, 130);
    --main-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: var(--dark);
}

header h1 {
    display: inline-block;
    font-family: var(--main-font);
    color: var(--dark);
    padding: 5px 10px 5px 60px;
    background-color: var(--light-blue);
}

header nav {
    word-spacing: 4px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 60px 0px 0px;
    float: right;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    color: var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
    padding: 0px 7px 0px;
}

header li:hover {
    color: var(--dark);
    background-color: var(--light-blue);
}

header a:hover {
    color: var(--dark);
    background-color: var(--light-blue);
    text-decoration: none;
}

header a {
    color: var(--light-blue);
    text-decoration: none;
}

.blue {
    height: 200px;
    width: 100%;
    background-image: url("./images/blue-fence.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.subtitle {
    position: absolute;
    right: 80px;
    top: 225px;
    background-color: var(--light-blue);
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: var(--dark);
}

.about-me-section {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.about-me-title {
    font-family: var(--main-font);
    font-size: 40px;
    color: var(--grey-blue);
    text-align: right;
    padding-right: 10px;
}

.left-border-about-me {
    color: var(--grey-blue);
    border-left: 5px solid var(--grey-blue);
    padding-left: 25px;
    margin-bottom: 30px;
}

.about-me-content {
    display: flex;
    position: relative;
    bottom: 15px;
}

.about-me-image {
    height: 200px;
    border-radius: 50%;
    padding-right: 10px;
    position: relative;
    top: 15px;
}

.work-section {
    display: flex;
    position: relative;
    left: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

.work-title {
    font-family: var(--main-font);
    font-size: 40px;
    color: var(--grey-blue);
    text-align: right;
    padding-right: 10px;
}

.left-border-work {
    color: var(--grey-blue);
    border-left: 5px solid var(--grey-blue);
    padding-left: 25px;
    margin-bottom: 30px;
}

.first-repo {
    height: 400px;
    width: 100%;
    opacity: 0.5;
    border: 5px solid var(--light-blue);
}

.first-repo:hover {
    opacity: 1;
    transition: 0.5s;
}

.first-repo-content {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 80px;
    background-color: var(--light-blue);
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: var(--dark);
    width: 120px;
}

.repo-subtitle {
    font-size: 10px;
}

.colomn {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.repo {
    height: 200px;
    width: 100%;
    opacity: 0.5;
    border: 5px solid var(--light-blue);
}

.repo:hover {
    opacity: 1;
    transition: 0.5s;
}

.repo-content {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 80px;
    background-color: var(--light-blue);
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: var(--dark);
    width: 120px;
}

footer {
    display: flex;
    position: relative;
    right: 95px;
    margin-left: 100px;
    margin-right: 100px;
}

.contact {
    font-family: var(--main-font);
    font-size: 40px;
    color: var(--grey-blue);
    padding-right: 10px;
    position: relative;
    left: 60px;
}

.me {
    font-family: var(--main-font);
    font-size: 40px;
    color: var(--grey-blue);
    padding-right: 10px;
    position: relative;
    top: 50px;
}


footer div {
    color: var(--grey-blue);
    border-left: 5px solid var(--grey-blue);
    padding-left: 25px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

footer nav {
    word-spacing: 40px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 60px 0px 0px;
    float: right
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline-block;
    border-bottom: 5px solid var(--grey-blue);
    padding: 0px 7px 0px;
}

footer li:hover {
    background-color: var(--grey-blue);
}

footer a:link {
    color: black;
    text-decoration: none;
}

footer a{
    color: black;
    text-decoration: none;
}